@import url("https://fonts.googleapis.com/css?family=Josefin+Sans");
@import url("https://fonts.googleapis.com/css?family=Alkatra");
@import url("https://fonts.googleapis.com/css?family=Poppins");

@import url("https://fonts.googleapis.com/css?family=Nunito:400,700,600|Open+Sans:400|Poppins:500,800");

:root{
    --main-color:#0c88a4;
    --black: #000000;
    --white:#ffffff;
    --light_grey:#C0C0C0;
    --light_blue:#dff9ff;
    --green: #24ab70;


    --font-size-l: 30px;
    --font-size-m: 24px;
    --font-size-s: 20px;
    --font-size-xl: 36px;
    --font-size-xs: 18px;
    --font-size-xxl: 64px;

    --font-family-nunito: "Nunito", Helvetica;
    --font-family-open_sans: "Open Sans", Helvetica;
    --font-family-poppins: "Poppins", Helvetica;

}
.App{
    display:flex;
    flex-direction: column;
    align-items:center;
    gap:10px;
}
.icon-text-wrapper{
    display:flex;
    margin:5px;
    align-items: baseline;
    border-color: black;
}

.icon-big{
    color:var(--main-color);
    font-size:var(--font-size-l);
    margin:10px
}
.title-text{
    font:var(--font-family-nunito);
    font-size:var(--font-size-xl);
    color:var(--black);

}



/* Navbar */
.nav-bar{
    display:flex;
    
   
    background-color:var(--main-color) ; 
    position: sticky;
    height:9vh;
    width: 100vw;
    z-index: 100;
}

.logo-container{
    height:inherit;
    width:5vw;
    overflow:hidden;

}
.logo-img{
    height:inherit;
    width:inherit;
    display:block;
    
}

/* SearchBar */
.search-bar{
    /* background-color:var(--light_grey); */
    height:80%;
    width:20vw;
    display:flex;
    justify-content:center;
    align-items:center;
    border-radius: 20%;
    border: 1px solid var(--main-color);
    
}

.search-and-filter{
    margin:15px;
    display:flex;
    gap:10px;
    justify-content:space-between;
    align-items:center;
  
}

.add-job-container{
    display:flex;
    flex-direction: column;
    height:40vh;
    width:70vw;
    border: 5px solid  var(--main-color);
    border-radius: 20px;
}

.form-input-text{
    font:var(--font-family-nunito);
    font-size:var(--font-size-s);
    color:var(--black);

}

.add-job-form{
    display:'flex';
    object-fit: contain;
    
    justify-content:'space-evenly';
    gap:190px;

}
.input-properties{
    margin:15px;
    display:flex;
    gap:20px;
    flex-wrap:wrap;
}
.primary-btn{
    background-color:var(--main-color);
    border-radius: 6px;
    box-shadow: 0px 8px 15px #3151df4c;
    color: white;
    font:var(--font-family-nunito);
    font-size:var(--font-size-xs);
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    min-height: 30px;
    min-width: 50px;
    padding: 10px 30px;
    margin: 10px;
    letter-spacing: 0;
    line-height: 30px;
    text-align: center;
    white-space: nowrap;
}
.primary-btn :hover{
    transform:scale(1,1.5)

}
.add-job-btn{
    background-color:var(--green);
    border-radius: 6px;
    box-shadow: 0px 8px 15px #3151df4c;
    color: white;
    font:var(--font-family-nunito);
    font-size:var(--font-size-xs);
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    min-height: 30px;
    min-width: 50px;
    padding: 10px 30px;
    margin: 10px;
    letter-spacing: 0;
    line-height: 30px;
    text-align: center;
    white-space: nowrap;

}
.input-box-style{
    font:var(--font-family-nunito);
    border-bottom: 1px solid gray;
    border-radius: 5px;
    padding: 10px;
    width: 320px;
    outline:none
}





/* JobCard */
.card{
    height:20vh;
    width:30vw;
    display:flex;
    gap:10px;
    border:2px solid var(--light_grey);
    box-shadow:5px;
    border-radius:10px;
    padding:5px;

}

.card:hover{
    transform: scale(1,1.01);
    background-color:var(--light_blue);

}

.cardimgContainer{
    height:130px;
    width:130px;
    border-radius: 50%;
    background-color: var(--main-color);
   margin:10px;
}
.main-text{
    font:var(--font-family-nunito);
    font-size:var(--font-size-m);
    color:var(--black);
}

.grey-text{
    font:var(--font-family-poppins);
    font-size:var(--font-size-s);
    color:var(--light_grey);

}
.jobdata{
    display:flex;
    flex-direction: column;

}